@charset "UTF-8";
/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

.card-event {
    margin-bottom: 1.3rem;
}
.card-event:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
}
.card-event .img-wrap {
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 0.2rem 0.2rem 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-event .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover;
}
.card-event .img-wrap a {
    height: 100%;
    width: 100%;
    display: block;
}
.card-event .info-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
    position: relative;
}
.card-event .event-favorite {
    position: absolute;
    top: -10px;
    right: 5px;
    background: #f9f9f9;
    border-radius: 50%;
    padding: 5px 8px;
}
.card-event .event-favorite a {
    color: #333;
}
.card-event .event-favorite button {
    background: transparent;
    border: none;
    padding: 0;
}
.card-event .event-favorite button:focus {
    outline: none;
}
.card-event .action-wrap {
    padding-top: 4px;
    margin-top: 4px;
}
.card-event .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-event .title {
    margin-top: 0;
    font-size: 1.125rem;
    color: #2e3e40;
    font-weight: 600;
}
.card-event .btn-overlay {
    transition: 0.5s;
    opacity: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 5px 0;
    font-size: 12px;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
}
.card-event:hover .btn-overlay {
    opacity: 1;
}
.card-event:hover {
    box-shadow: 0 4px 15px hsla(0, 0%, 60%, 0.3);
    transition: 0.5s;
}
.card-event .event-category {
    color: #7f818e;
    border-radius: 5px;
    background-color: #fff;
    right: -10px;
    padding: 0.625rem 1.25rem;
}
.card-event .event-category,
.card-event .event-date {
    position: absolute;
    top: 10px;
    box-shadow: 0 4px 15px 0 rgba(40, 44, 53, 0.06), 0 2px 2px 0 rgba(40, 44, 53, 0.08);
    z-index: 3;
    font-size: 12px;
    opacity: 0.97;
}
.card-event .event-date {
    left: 10px;
}
.card-event .event-date .event-month {
    position: relative;
    padding: 5px 17px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.card-event .event-date .event-day {
    font-weight: 900;
    padding: 10px 17px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.card-event .event-info {
    float: left;
    max-width: 100%;
}
.card-event .event-info > h5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
.card-event .price-wrap {
    float: right;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.card-event .order-reference {
    float: right;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.card-sm .img-wrap {
    height: 180px;
}
.card-banner {
    display: flex;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.25rem;
    background-position: 50%;
    background-repeat: no-repeat;
}
.card-banner,
.card-banner .card-body {
    position: relative;
    background-size: cover;
}
.card-banner .card-body {
    z-index: 10;
}
.card-banner .img-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
    max-width: 100%;
}
.card-banner .overlay {
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 10;
    padding: 1.25rem;
    color: #fff;
}
.card-banner .overlay.bottom {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.card-banner .overlay-cover,
.card-banner .overlay.top {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.card-banner .overlay-cover {
    right: 0;
    bottom: 0;
}
.card-banner .overlay.left {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}
.card-banner .text-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 30px 20px 7px;
    border-radius: 0 0 0.25rem 0.25rem;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.8));
    color: #fff;
}
.banner-size-lg {
    height: 350px;
}
.card .img-wrap {
    overflow: hidden;
}
.icontext {
    display: inline-flex;
    align-items: center;
}
.icontext .icon-wrap {
    position: relative;
}
.icontext .text-wrap {
    line-height: 1.2;
    padding-left: 10px;
}
.icontext .title,
.icontext small {
    display: block;
}
.price,
.price-new {
    margin-right: 5px;
}
.price-old {
    color: #999;
}
.notify {
    position: absolute;
    top: -4px;
    right: -10px;
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    border-radius: 3rem;
    color: #fff;
    background-color: #e95b35;
}
.icon-action {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}
.list-group .list-group-item {
    padding-bottom: 0.5rem;
}
.list-group .title {
    margin-top: 5px;
    margin-bottom: 12px;
}
.card-header .title {
    margin-bottom: 0;
    line-height: 1.5;
}
.card-group-item {
    border-bottom: 1px solid #dee2e6;
}
.card-group-item .card-header {
    border-bottom: 0;
    background-color: #f9f9f9;
}
.card-group-item:last-child {
    border-bottom: 0;
}
.shopping-cart-wrap img {
    max-width: 100px;
}
.shopping-cart-wrap thead th {
    border-top: 0;
    border-bottom: 0;
}
.shopping-cart-wrap .price {
    color: #f67611;
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
    display: block;
}
.box {
    padding: 1rem 1.2rem;
    display: block;
    background: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 1px 3px rgba(51, 51, 51, 0.1);
}
.media .img-wrap {
    margin-right: 1rem;
}
.badge-new {
    top: 7px;
    left: 7px;
    z-index: 10;
    padding: 2px 7px;
    font-size: 12px;
    background-color: #ef5f5f;
    color: #fff;
    border-radius: 4px;
}
.badge-new,
.badge-offer {
    position: absolute;
    display: block;
}
.badge-offer {
    top: 0;
    right: 15px;
    z-index: 2;
}
.badge-offer b {
    background: #ef5f5f;
    padding: 4px;
    font-family: Bebas;
    font-weight: 400;
    text-align: center;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    height: 36px;
    width: 50px;
    position: relative;
}
.badge-offer b:after {
    border-top: 7px solid #ef5f5f;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 36px;
    width: 0;
}
.label-rating {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.stars-simple {
    margin-bottom: 7px;
}
.stars-simple i {
    color: #f67611;
}
.stars-simple small {
    color: #999;
    margin-left: 5px;
}
.rating-stars {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1;
    white-space: nowrap;
    clear: both;
}
.rating-stars i {
    font-size: 14px;
    color: #ccc;
    display: inline;
}
.rating-stars li {
    display: block;
    text-overflow: clip;
    white-space: nowrap;
    z-index: 1;
}
.rating-stars li.stars-active {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating-stars li.stars-active i {
    color: #f67611;
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}





